extends layout

block link
 -var selected = 'Experience'

block content
  #content.page-content
   h2 I've been run through the IT gambit, from intern to Systems Engineer to developer.
   h4 Scroll down and take a jog through memory lane with me, or just check out my resume a(href='./files/Resume.pdf') here. 
    <br/>
    .cntl
     <br/>
     <br/>
    .cntl-states
    .cntl-state(class="cntl-animate", class="slide-right")
      .cntl-content
       h4 SpeedySpokes
       p Once I was done with school, I found myself with an unsettling void of 10 hours a week. I started my own development company and stay up late making things work. 
      .cntl-icon(class="cntl-center") '15
     .cntl-state(class="cntl-animate", class="slide-left")
      .cntl-content
       h4 Educated, with a piece of paper!
       p Graduated with a degree in Technology Administration from Washburn University. 
      .cntl-icon(class="cntl-center") '13
     .cntl-state(class="cntl-animate", class="slide-right")
      .cntl-content
       h4 Lets Build a Smart Grid!
       p In August of 2013, I took an oppertunity at a Northeast Kansas Power Company. This is where I started getting nudged into development on the web side. I came in as a Systems Administrator, and three years later I'm a mobile/web developer.
      .cntl-icon(class="cntl-center") '11
     .cntl-state(class="cntl-animate", class="slide-left")
      .cntl-content
       h4 Certified and Dangerous
       p I decided to go grab a few certifications. I hold a COMPTIA NETWORKS+ and SECURITY+ Certifications. Both were very applicible to my roles in the company at the time, and help round out my expirence. 
      .cntl-icon(class="cntl-center") '10
     .cntl-state(class="cntl-animate", class="slide-right")
      .cntl-content
       h4 Working Local, Staying Local
       p August of 2011 I was blessed to slide my way into an interview at Mize, House, and Co. A fantastic IT consulting firm, I was pulling double duty as lead for the Windows Enterprise Architecture, as well as consulting to over 20 small businesses in and around Northeast Kansas.
      .cntl-icon(class="cntl-center") '09
    