extends layout


block content
  #content.page-content
    #slider_one.single-item-top
      #one_one 
        h3 Nerd.
      #one_two
        h3 Cyclist.
      #one_three
        h3 Data Bender.  
    #slider_two.single-item-bottom
      #one_two My name is Kasey
      #two_two I enjoy making functional web apps
      #three_two Messing around with new technology gets me excited
   #blue_page.blue-page
    </br>
    #one
      #index_one.row
        #ul(class='small-block-grid-3 text-center')
          li 
            img(src='/img/wordpress.png')
          li 
            img(src='/img/node-js.png')
          li 
            img(src='/img/pi_logo.png')
   </br>
  #about_site.row
   h3 So what is this site anyway? 
    p I created this site to learn a bit more about 
     a(href="http://foundation.zurb.com/index.html") Foundations CSS
     , a new multi-talented css framework. I've worked with Bootstrap for a few years and decided to try something else. In addition to the confusion of a new front end framework, I decided to use 
     a(href="http://jade-lang.com/") Jade 
     for templating the site. I ended up liking it so much it's my new portfolio site, so enjoy! If you are interested in the nerdy bits, the site is on 
     a(href="https://github.com/yesakmac/node_site") GitHub 
     and and is hosted via 
     a(href="https://azure.microsoft.com/") Microsoft Azure
     